.wrapper_with_padding
	#notes.clearfix
		- unless @notes.blank?
			-@notes.each do |note|
				%a{ href: (url_for [note])}
					.note
						%p.title= note.title
						%p.date= ime_ago_in_words(note.created_at
		- else
			%h2 Add a note
			%p No Notes Created yet! Please Start creating one beloe
			%button=  link_to "New Note", new_note_path