#banner
	.banner_content
		%h1 EverEverNote
		%p Your life's Work!
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "I keep all our important documents withd EverEverNote"
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Journal
				Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed,
			.callout
				%h2 Notes
				Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed,
			.callout
				%h2 Epic
				Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed,
#bottom_cta
	.wrapper
		%h2 Store All Your Notes!
		%p Be Different, Join the Elite!
		%button= link_to "Start Here!!!", new_user_registration_path
%footer
	%p &copy; Ricky Januari